<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h2><%= name.title %></h2>
    <div class="content">
        <h3>Meaning: <%= name.meaning %></h3>
      <p><%= name.title %> is usually given to people from <%= name.state %> , <%= name.description %></p>
    </div>
    <a class="delete" data-doc="<%= name._id %>">delete</a>
  </div>

  <%- include("./partials/footer.ejs") %>

  <script>
    const delbtn = document.querySelector('a.delete');
    const id = delbtn.dataset.doc
    delbtn.addEventListener('click', () => {
        const endpoint = `/names/${id}`

        fetch(endpoint, {
            method: 'DELETE'
        }).then((response) => response.json)
        .then((data) => window.location.href = '/names')
        .catch((err) => console.log(err))
    })
  </script>
</body>
</html>